
/.idea/
/.cache/
/public/
/build
/node_modules
/log/
/designs/
/public/assets/
/package-lock.json
/yarn.lock
/package.json
/coverage/
/.git
/static/
/.eslintrc
/LICENSE
/.gitignore
/yarn-error.log
/.graphqlconfig
.prettierignore
.DS_Store
*.svg